@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-mode {
    --bg-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .album-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .album-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: var(--bg-color);
    padding: 20px;
  }
  
  .album-box {
    background-color: #f1f1f1;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .album-box h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .album-box p {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .view-details-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .view-details-button:hover {
    background-color: #0056b3;
  }
  
  .view-details-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  /* detail page css */
  .details-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
  }
  
  .album-thumbnail {
    width: 200px;
    height: 200px;
    margin: 20px 0;
    border-radius: 30px;
  }
  
  .album-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .album-info {
    font-size: 16px;
  }
  
  .album-info p {
    margin-bottom: 5px;
  }
  
  